= render layout: 'todos/index' do
  .flex.flex-row.bg-grey-200.overflow-visible
    .flex-none.h-screen.bg-gray-600{ class: 'w-1/6' }
      = render 'todos', todos: @todos, title: '全て'
    .flex-none.h-screen.bg-grey-600{ class: 'w-5/6' }
      .grid.grid-cols-4.gap-0.h-full
        .cal-1.bg-gray-600.border-gray-700.min-h-todo-list
          = turbo_frame_tag 'overdue_todos', src: overdue_todos_path do
            .text-white.p-3
              読み込み中...
        - if @due_soon_todos.present?
          .cal-1.bg-gray-600.border-gray-700.min-h-todo-list
            = render 'todos', todos: @due_soon_todos, title: "期限間近(#{7.days.since.to_date}まで)"
        - @todos_by_project.each do |project, todos|
          .cal-1.bg-gray-600.border-gray-700.min-h-todo-list
            = render 'todos', todos: todos, title: project
